<div class="transfer-container">
    <h1 class="title">Nạp Tiền Vào Tài Khoản</h1>
    <div class="account-section">
        <div class="account-box">
            <div class="input-group">
                <input type="text" [(ngModel)]="accountNumberInput" placeholder="Nhập số tài khoản"
                    class="account-input" />
                <button class="search-btn" (click)="searchAccount()">Tìm</button>
            </div>

            <div class="account-info" *ngIf="accountInfo">
                <p><strong>Tên khách hàng:</strong> {{ accountInfo.fullName }}</p>
                <p><strong>Email:</strong> {{ accountInfo.email }}</p>
                <p><strong>Số dư hiện tại:</strong> {{ accountInfo.balance | number: '1.0-0' }} VND</p>
            </div>

            <div class="error-message" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>

        <div class="transfer-section">
            <input style="margin-bottom: 2%;" type="number" [(ngModel)]="amount" placeholder="Nhập số tiền muốn nạp"
                class="amount-input" aria-label="Số tiền nạp" />
            <input type="text" [(ngModel)]="description" placeholder="Nội dung nạp tiền" class="amount-input"
                aria-label="Nội dung nạp tiền" />

            <div class="transfer-message" *ngIf="depositMessage">
                {{ depositMessage }}
            </div>
        </div>
    </div>

    <div class="action-buttons">
        <button class="back-btn" (click)="goBack()">Quay lại</button>
        <button class="confirm-btn" (click)="depositMoney()">Xác nhận nạp</button>
    </div>
</div>